<form class="form" (submit) = "add(taskName.value, taskDesc.value); taskName.value = ''; taskDesc.value = ''">
    <div class="form-group">
        <input #taskName class = "form-control" placeholder = "Task Name">
        <input #taskDesc class = "form-control" placeholder = "Task Description">

    </div>
    <input type="submit" value="submit" class="btn btn-success btn-lg btn-block">
</form>

<br>
<hr>
<br>
<table class="table">
    <tr *ngFor = "let task of tasks">
        <td class = "text-left" >
            <span>{{task.taskName}}</span>
        </td>
        <td class="text-center">
            <a (click)="edit(task)">
                <span *ngIf="task!==editTask">{{task.taskDesc}}</span>
                <input *ngIf="task===editTask" [(ngModel)]="task.taskDesc" (blur)="update()" (keyup.enter)="update()">
            </a>
        </td>
        <td class="text-right">
            <button class="btn btn-danger" title="delete task" (click)="delete(task)">Delete</button>
        </td>
    </tr>
</table>